AI Job Finder /blueprint.json
{
  "name": "Job Search",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        64
      ],
      "id": "3664df87-39ca-411b-8083-4084c64b7c68",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Retrieve Job Data from adzuna.com Via API",
        "height": 308,
        "width": 2192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "894b042b-7fb2-4563-8c63-7612542355b6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Analyze and Match Resume to Job",
        "height": 308,
        "width": 2192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "6e49488c-e520-4754-9235-7c9e535927c9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Informing User Via Email",
        "height": 372,
        "width": 2192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        720
      ],
      "id": "3c622d42-d00e-497b-8ce0-3827cb9484b9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "You're an AI assistant that scores how well a job matches a candidate. Rate from 1 to 5 based on skill, experience, and fit.\nRespond with:\n{\"score\": \"\"}",
              "role": "system"
            },
            {
              "content": "=Job: {{ $json.message.content.description }}\nCandidate resume:\nSaleem Shahzad\nEmail: pmaf16e018@gmail.com\nPhone: 92-3137108490\n\nEDUCATION\nMasters in AI\n\nEXPERIENCE\n8 years of experience developing AI and ML algorithms or technologies together with 9 years of experience programming with Python.\n\n- Worked on multiple projects using code/no-code/low coade approaches. \n\nSKILLS\n- Communication\n- Problem Solving\n- Teamwork\n\nCERTIFICATIONS\n- Microsoft Certified AI Professional\n\n[End of Resume]"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Score Job",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        432
      ],
      "id": "0b8d2afd-59bc-4c81-8f7f-91218da83818",
      "credentials": {
        "openAiApi": {
          "id": "zYB1rwSm4vYILjvD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_title",
              "value": "AI Engineer"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set Job Title1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        64
      ],
      "id": "c5639d4a-680a-46ad-bdfa-98f2dddb021f"
    },
    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5541659b&app_key=8a86c1c9b9841dcd00918caeae341d98&results_per_page=5&what={{$json.job_title}}",
        "options": {}
      },
      "name": "Get Jobs from Adzuna1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1248,
        64
      ],
      "id": "ecd22fad-a36c-45cb-be4b-f98c004571a8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "name": "Split Jobs1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1632,
        64
      ],
      "id": "513c015d-766a-47dc-af43-1c71ae9db1ca"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "You're an AI that extracts key job info from the following JSON and returns it like this:\n{\"company_name\": \"\",\"location\": \"\",\"description\": \"(short summary max 200 chars)\"}",
              "role": "system"
            },
            {
              "content": "=Job data:\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "Summarize Job1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        528,
        432
      ],
      "id": "6b6a0607-9365-4fe2-93e1-515b52151ac5",
      "credentials": {
        "openAiApi": {
          "id": "zYB1rwSm4vYILjvD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY",
          "mode": "list",
          "cachedResultName": "Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Role": "={{ $('Split Jobs1').item.json.title }}",
            "Job Description": "={{ $('Summarize Job1').item.json.message.content.description }}",
            "Company Name": "={{ $('Summarize Job1').item.json.message.content.company_name }}",
            "Location": "={{ $('Summarize Job1').item.json.message.content.location }}",
            "Score": "={{ $json.message.content.score }}",
            "Apply At": "={{ $('Split Jobs1').item.json.redirect_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apply At",
              "displayName": "Apply At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1248,
        432
      ],
      "id": "2cb6916c-f0c5-4e07-8afb-e969ad906551",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UkWnCCtvDm8DsxTM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "farooqhassnain22@gmail.com",
        "subject": "Job Info",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        800
      ],
      "id": "91b4ebfa-97ab-4346-9874-c24922087d9f",
      "name": "Gmail1",
      "webhookId": "c4aa81ae-e4ee-478f-bfc4-723c40abdcdd",
      "credentials": {
        "gmailOAuth2": {
          "id": "Uu0yb9deFxVTk6Sn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY",
          "mode": "list",
          "cachedResultName": "Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        432
      ],
      "id": "c4365e06-8017-467e-8313-4caf68b1f8d0",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UkWnCCtvDm8DsxTM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the detail of jobs:\n\nDetails of Job 1: \n- Job Role: {{ $json.sheetData[0]['Job Role'] }}\n- Job Description: {{ $json.sheetData[0]['Job Description'] }}\n- Compnay Name: {{ $json.sheetData[0]['Company Name'] }}\n- Location: {{ $json.sheetData[0].Location }}\n- Score: {{ $json.sheetData[0].Score }}\n- Apply At: {{ $json.sheetData[0]['Apply At'] }}\n\nDetails of Job 2: \n- Job Role: {{ $json.sheetData[1]['Job Role'] }}\n- Job Description: {{ $json.sheetData[1]['Job Description'] }}\n- Compnay Name: {{ $json.sheetData[1]['Company Name'] }}\n- Location: {{ $json.sheetData[1].Location }}\n- Score: {{ $json.sheetData[1].Score }}\n- Apply At: {{ $json.sheetData[0]['Apply At'] }}\n\nDetails of Job 3: \n- Job Role: {{ $json.sheetData[2]['Job Role'] }}\n- Job Description: {{ $json.sheetData[2]['Job Description'] }}\n- Compnay Name: {{ $json.sheetData[2]['Company Name'] }}\n- Location: {{ $json.sheetData[2].Location }}\n- Score: {{ $json.sheetData[2].Score }}\n- Apply At: {{ $json.sheetData[2]['Apply At'] }}\n\nDetails of Job 4: \n- Job Role: {{ $json.sheetData[3]['Job Role'] }}\n- Job Description: {{ $json.sheetData[3]['Job Description'] }}\n- Compnay Name: {{ $json.sheetData[3]['Company Name'] }}\n- Location: {{ $json.sheetData[3].Location }}\n- Score: {{ $json.sheetData[3].Score }}\n- Apply At: {{ $json.sheetData[3]['Apply At'] }}\n\nDetails of Job 5: \n- Job Role: {{ $json.sheetData[4]['Job Role'] }}\n- Job Description: {{ $json.sheetData[4]['Job Description'] }}\n- Compnay Name: {{ $json.sheetData[4]['Company Name'] }}\n- Location: {{ $json.sheetData[4].Location }}\n- Score: {{ $json.sheetData[4].Score }}\n- Apply At: {{ $json.sheetData[4]['Apply At'] }}",
        "options": {
          "systemMessage": "You are a professional HTML email generator specializing in making structured data visually appealing and attractive.\n\nYour task is to take the provided JSON data, which contains a list of job opportunities, and format it into a single, complete, and attractive HTML email.\n\nSTRICT RULES:\n\nOutput Format: Your response MUST be a complete HTML document, starting with <!DOCTYPE html> and ending with </html>.\n\nStyling: All styling MUST be applied inline using the style=\"...\" attribute. DO NOT use <style> blocks or external stylesheets. The design must be clean, modern, and visually appealing, using soft colors, appropriate padding, and clear typography.\n\nContent Requirements:\n\nSubject Line Idea: Include a suggested subject line at the very top of the email body (e.g., \"Your Daily Job Digest: 5 New AI Role Matches\").\n\nIntroduction: Write a short, friendly introduction addressed to the user/job seeker (e.g., \"Hello Job Seeker, here is your curated list of today's best AI job matches. Time to review your top career opportunities!\").\n\nData Table: Convert the JSON array into a structured HTML table.\n\nRequired Columns (MUST BE DISPLAYED):\n\nJob Role\n\nCompany Name\n\nLocation\n\nScore (Highlight high scores—e.g., score 4 or 5—with a subtle green or gold background.)\n\nJob Description (Keep this concise, perhaps limited to the first 10-15 words, and provide a \"Read More\" link.)\n\nApply At (This MUST be rendered as an attractive, clickable button link that uses the full URL provided in the data.)\n\nMANDATORY OVERRIDE: The Job Description content MUST be displayed in its ENTIRETY, regardless of length. Do not truncate the text or include \"Read More\" links for this field.\n\nAesthetics: The main email container and all primary content blocks (such as the main data table) MUST strictly use width: 100% and MUST NOT use any fixed pixel widths (e.g., width: 600px;) or max-width properties. This is to ensure a full-width, edge-to-edge layout for maximum responsiveness. Ensure all content remains clearly legible."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        768,
        800
      ],
      "id": "9056206e-01d1-4eb1-bc8b-95ca6a59b602",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        976
      ],
      "id": "0c761fde-6b45-4120-9cdf-6b1d3fff95a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zYB1rwSm4vYILjvD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * This Function node takes all incoming items (the 5 rows from Google Sheets)\n * and combines their JSON data into a single array, which is then returned\n * as one single item. This ensures the subsequent AI Agent node runs only once\n * with the complete dataset.\n */\n\n// 1. Get all input items passed to this Function node.\n// $input.all() returns an array of all items.\nconst allInputItems = $input.all();\n\n// 2. Extract the JSON data from each item.\n// We use .map() to iterate over each item and pull out the 'json' property,\n// which contains the actual row data (e.g., { Column1: \"Value\", ... }).\nconst allRowsData = allInputItems.map(item => {\n    return item.json;\n});\n\n// 3. Create a single output item containing the combined data array.\n// We wrap the data in a new JSON property (e.g., 'sheetData') inside the 'json' object.\n// The Function node must return an array of objects, where each object is an item.\nreturn [{\n    json: {\n        sheetData: allRowsData\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        800
      ],
      "id": "c7851b75-c9fe-409b-ac95-155189e78f9f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY",
          "mode": "list",
          "cachedResultName": "Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nIFW5Pq2eSD7sH9KkkKDxj2iXKdR9IWiKMZRGczqshY/edit#gid=0"
        },
        "numberToDelete": 10
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        800
      ],
      "id": "1b3547fc-8469-4c48-8f56-8e94eb9a443f",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UkWnCCtvDm8DsxTM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Job Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Title1": {
      "main": [
        [
          {
            "node": "Get Jobs from Adzuna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs from Adzuna1": {
      "main": [
        [
          {
            "node": "Split Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs1": {
      "main": [
        [
          {
            "node": "Summarize Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Job1": {
      "main": [
        [
          {
            "node": "Score Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Job": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1642a3ca-bcbb-4441-8114-787ed2aa9b52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9296c156f6350bba2ca2714aae25c7369585420a705ed8996e34e40edb859acc"
  },
  "id": "oXFTARLaW2Mf0vn7",
  "tags": []
}